<h1>Formulario example</h1>
<mia-form #miaForm [config]="config" [item]="item" (save)="onSubmit($event)"></mia-form>
<button (click)="onClickSend()">Enviar</button>

<hr />
<hr />
<hr />

<h1>Formulario en Modal</h1>
Test: {{ item.firstname }}
<button (click)="onClickOpenForm()">Open Form</button>

<hr />
<hr />
<hr />

<h1>Elementos</h1>
<mia-date-filter-range-button (changeRange)="onChangeDateFilter($event)"></mia-date-filter-range-button>
<hr />
<mia-filter-box [config]="filterBox"></mia-filter-box>

<router-outlet></router-outlet>